/assets/
/cms/
/framework/
/reports/
/siteconfig/
/node_modules/
/.idea/
/vendor/
/themes/one-ring/bower_components/
/themes/one-ring/combined/
/silverstripe-errors.log
/silverstripe-errors-warnings.log