/assets/
/cms/
/framework/
/reports/
/siteconfig/
/sortablefile/
/dynamiclists/
/gridfieldextensions/
/multivaluefield/
/dropzone/
/restfulserver/
/node_modules/
/.idea/
/vendor/
/composer.lock
/themes/one-ring/bower_components/
/themes/one-ring/combined/
/silverstripe-cache/
/silverstripe-errors.log
/silverstripe-errors-warnings.log